
<div fxFill class="container" fxLayout="column" style="padding-left: 8px; padding-right: 8px;">

  <div class="topbar" fxLayout="row" fxLayoutAlign="start center">
    <h3 class="color-blue-a700">System Users</h3>

  </div>

  <div class="details" fxLayout="row" fxFlex>

    <div fxLayout="column" style="margin-right: 8px;">
      <div class="bg-blue-grey-200 first-letter" fxLayout="row" fxLayoutAlign="center center"><span class="color-white">{{ 'Staff' | slice:0:1 }}</span></div>
    </div>

    <div fxLayout="column" fxFlex fxLayoutGap="8px">
      <span class="color-blue-grey-800 name">All System Users</span>
      <span class="color-blue-grey-500 description">These are all the System Users</span>
      <!--
      -->
      <div class="search-div">
        <!--  <mat-toolbar-row>-->
        <!--    <h4>Formats</h4>-->
        <!--  </mat-toolbar-row>-->
        <button  mat-stroked-button
                 color="primary"
                 (click)="payrollTest()">
          <mat-icon>add</mat-icon>Create
        </button>
        <button  mat-stroked-button
                 color="primary"
                 class="left-button"
                 (click)="exportAsXLSX()">
          <mat-icon>get_app</mat-icon>Excel
        </button>
        <button class="left-button"
                mat-stroked-button
                color="warn">
          <mat-icon>get_app</mat-icon>PDF
        </button>
        <mat-form-field class="search-form-field left" floatLabel="never">
          <input matInput
                 placeholder="Search"
                 autocomplete="off"
                 [(ngModel)]="searchKey"
                 (keyup)="applyFilter()">
          <button mat-button
                  matSuffix
                  mat-icon-button
                  *ngIf="searchKey"
                  aria-label="Clear"
                  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>

      </div>
      <div class="mat-elevation-z8">
        <mat-table #matTable [dataSource]="listData" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name of User</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="division">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Division</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.division}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.roles}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Edit Roles</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="primary" mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
              <!--              <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>-->
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data...
            </mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data...
            </mat-footer-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <!--    <mat-footer-row-->
          <!--      *matFooterRowDef="['loading']"-->
          <!--      [ngClass]="{'hide' : listData != null}">>-->
          <!--    </mat-footer-row>-->

          <!--    <mat-footer-row-->
          <!--      *matFooterRowDef="['noData']"-->
          <!--      [ngClass]="{'hide' : !(listData != null && listData.data.length == 0)}">-->
          <!--    </mat-footer-row>-->
        </mat-table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 30, 1000]"
          [pageSize]="5"
          showFirstLastButtons>
        </mat-paginator>
      </div>


    </div>

  </div>
</div>
