<table class="table">
  <thead class="thead-dark">
  <tr>
    <th class="title-column">Requisition Number</th>
    <th class="title-column">Product Code</th>
    <th class="title-column">Product Name</th>
    <th class="title-column">Quantity</th>
    <th class="title-column">Status</th>
    <th class="title-column">Action</th>
  </tr>
  </thead>
  <tr *ngFor="let u of Champion.list" [class.selectedRow]="rowIsSelected(u.id)" (click)="onRowClick(u.id)" style="cursor: pointer;">
    <td class="row-left title">{{u.req}}</td>
    <td class="row-mid title">{{u.code}}</td>
    <td class="row-mid title">{{u.name}}</td>
    <td class="row-mid title">{{u.quantity}}</td>
    <td class="row-mid title">{{u.status}}</td>
    <td>
      <button  mat-stroked-button
               color="warn"
               (click)="delete(u.id)">
        <mat-icon>delete</mat-icon>Delete
      </button>
    </td>
  </tr>
</table>
<button  mat-stroked-button
         color="primary"
         (click)="onLogClick()">
  <mat-icon>business</mat-icon>Initiate
</button>
